@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(62, 62, 62);
    color: white;
}

.navbar{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: auto;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
}

#item{
    display: flex;
    background-color: rgb(54, 54, 54);
    width: 20vw;
    height: auto;
    flex-direction: column;
    padding: 1vw;
    
}

#Lagre{
    margin-top: 1vw;
    height: 10vw;
    padding: 1vw;
    height: auto;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-weight: bold;

}
